name: Python_Test
on:
  workflow_dispatch

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Python Packages
        run: |
          python --version
          python -m pip install --upgrade pip
          # Downgrade setuptools temporarily to handle the legacy build process
          pip install pytest
          python -m pip install "setuptools<70.0.0" "wheel"
          # The magic flag: --no-build-isolation
          python -m pip install pytest-dependency --no-build-isolation

      - name: Run tests
        run: |
          pytest -v tests/test_deps.py

